@media only screen and (min-width: 430px) and (max-width: 1024px) {
/* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here WAS AT 37.5em, 28.5em */

nav button { display:none; }  /* hamburger button does not need to be shown */

.small { display: none; }

.large { display: none;}

.medium {
width: 93%;
}
    main img {
        width: 100%;
        height: 100%;
    }

    .grid {display: none;}

    .grid-small {display: none;}

 .grid-medium {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20%;
        grid-column-gap: 10px;;
        grid-row-gap: 0px;
        justify-content: center;
        padding: 4%;
        padding-bottom: 100px;
    }

    p {
        text-align: center;
    }

@media only screen and (max-width: 670px) {

    p {
        font-size: 78%;
    }

    }

@media only screen and (min-width: 760px) {



}

header img {
min-width: 100%
top: 40px;
}

header h1 {
    bottom: 480px;
    width: 335px;
    margin-bottom: -30px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    height: 50px;
    width: 335px;
    padding: 3;
    color: aqua;
    font-family: tahoma;
    text-align: center;
}

header .subheading {

    bottom: 323px;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    height: 50px;
    max-width: 280;
    padding: 3;
    text-align: center;

}

nav {
display: block;
position: fixed;
color: aqua;
}

nav ul {
position: fixed;
top: 0;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #00B9A7;

}

nav ul li {
display: inline;
float: left;
width: 20%;
}

nav ul li a {
display: block;
color: #0F415C;
padding: 14px 16px;
text-decoration: none;
}

nav ul li.active a {
background-color: #33697F;
}

nav ul li a:hover {
background-color: #111;
}

main {
position: relative;
bottom: -35;
}

main h2 {
position: absolute;
color: #E8503A;
text-align: center;
}

main figure {

}

main figure img {

}

section {
position: relative;
color: E8503A;
}



@media only screen and (min-device-width: 28.5em) and (max-width: 64em) {

.container {
position: relative;
}


footer {
display: block;
background-color: #E8503A;
position: relative;
bottom: 0;
right: 0;
left: 0;
width: 100%;


}

footer aside {
display: block;
top: 8px;
text-align: center;
width: 100%;
position: absolute;

}


.footer-bar {
top: 35px;
text-align: center;
width: 100%;
position: absolute;
}

#currentdate {
display: block;
text-align: center;
}


footer>p {
}
}


article p.town-article img { width: 520; float:left; }  /* responsive images */

}
