@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

  article p.town-article img { width: 29.333%;
    display: none;}

    p, h2, h3, h4, main {
        margin: 70px;
    }

    header h1 {
        display: block;
        left: 20%;
        font-size: 45px;
        width: 400px;
        height: 100px;
        line-height: 25px;

    }

    header .subheading {
        display: block;
        top: 70px;
        left: 25%;
    }

    .grid {
        display: grid;
        grid-template-columns: 90% 30%;
        justify-content: center;
        padding: 4px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;

    }

    .larger {
    }

}


